/* Permet d'avoir la même hauteur pour toutes les cartes*/
.card-title {
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
/* Rajoute la couleur bleu de background */
.bg-bleu {
	background-color:#0098d7;
}
/*Mets le champ de recherche à la suite de l'intitulé*/
.dt-search{
	float:right
} 

.modal-title{
	line-height:1;
}

th{
	background-color:#0d6efd !important;
	color:white !important;
}

/*Classe des placeholder .editable*/
.holder {
  font-size: 0.7em;
}

.invalid-feedback {
	display: visible;
}

.text-decoration-none {
	text-decoration: none !important
}

.flip-color-btn {
	--bs-btn-color: #ffffff;
	--bs-btn-bg: #0096d6;
	--bs-btn-border-color: #0096d6;

	/* Couleurs au survol de la souris (un bleu un peu plus foncé) */
	--bs-btn-hover-color: #ffffff;
	--bs-btn-hover-bg: #007bb5;
	--bs-btn-hover-border-color: #0070a3;

	/* Couleur au clic (actif) */
	--bs-btn-active-bg: #0070a3;
	--bs-btn-active-border-color: #006594;
}
